body,
h1,
h2,
p,
h3,
header,
nav,
ul,
li,
a,
footer,
section,
.form-group,
.additional-contact-info {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography and body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: black;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 60px;
}

/* Header and footer styles */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background: #302b63;
    color: #ffffff;
    text-align: center;
}

/* Navigation styles */
.main-nav ul {
    list-style: none;
    text-align: center;
}

.main-nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

.main-nav ul li a.active,
.main-nav ul li a:hover {
    color: #a1cbef;
}

/* Icon Images */

.nav-icon {
    width: 50px;
    /* Icon size */
    height: auto;
    /* Maintain aspect ratio */
    cursor: pointer;
    /* Remove the absolute positioning here */
}

.nav-list {
    display: flex;
    /* Make the nav list flex for alignment */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    /* Aligns the navigation links vertically */
    /* Rest of your styles... */

}

.nav-item {
    position: relative;
    /* To position the ::after pseudo-element absolutely relative to the .nav-item */
    display: inline-block;
    /* To allow the use of position: relative */
    margin-right: 20px;
    /* Adjust margin as needed */
    /* ... */
}

.nav-link {

    border: 2px solid transparent;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
    overflow: hidden;
    /* To keep the pseudo-element within the confines of the .nav-link */
    /* ... */
}

.nav-link::before,
.nav-link::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    transition: transform 2s ease;
}

.nav-link::before {
    top: 100%;
    transform: scaleY(0);
    transform-origin: bottom left;
}

.nav-link::after {
    animation: box-fade-out 2s forwards;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.nav-item:hover .nav-link::before {
    transform: scaleY(1);
    transition: transform 0.5s ease;
}

.nav-item:hover .nav-link::after {
    transform: scaleX(1);
    transition: transform 2s ease 0.5s;
    /* Delay the horizontal line animation */
}

.nav-item:hover .nav-link {
    animation: box-animation 2s 0.5s forwards;
}

@keyframes box-animation {
    from {
        border: 2px solid transparent;
    }

    to {
        border: 2px solid #ffffff;
    }
}

.left-icon {
    left: 40px;
}


@keyframes box-fade-out {
    from {
        border-color: #ffffff;
    }

    to {
        border-color: transparent;
    }
}

/* Pulse effect on hover */
@keyframes pulse {
    0% {
        transform: scale(1) translateY(0%);
    }

    50% {
        transform: scale(1.2) translateY(-5%);
        /* Scale the icon up */
    }

    100% {
        transform: scale(1) translateY(0%);
    }
}

.nav-icon:hover {
    animation: pulse 1s infinite;
}


.site-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center children */
    justify-content: flex-start;
    /* Align children to the start */
    padding: 2rem;
    /* Add padding for inner spacing */
    max-width: 100%;
    /* Ensure it's not restricting content width */

}



.contact-article {
    max-width: none;
    /* Removes max-width restriction */
    width: 90%;
    /* Use a percentage of the viewport width */
    padding: 40px;
    /* Add more padding for spacing */
    margin: 20px auto;
    /* Center the article on the page with top and bottom margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adjust as needed */
    border-radius: 8px;
    /* Adjust as needed */
    background-color: black;
    /* Adjust as needed */
    display: flex;
    /* Use flexbox for inner alignment */
    flex-direction: column;
    /* Stack children elements vertically */
    justify-content: center;
    /* Center children elements vertically */
    align-items: center;
    /* Center children elements horizontally */
    transition: all 0.3s ease;
    /* Smooth transition for all properties */
    \
 color: black;
    /* Or any color that matches the main page */
}


/* Add this at the bottom of your CSS file */
@keyframes flashing {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


.section-title {
    color: #333;
    text-align: center;
}

.contact-intro,
.additional-contact-info {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    animation: flashing 2s infinite;
    /* Apply the flashing effect */
    background-color: #302b63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: black;
}

.additional-contact-info {
    margin-top: 20px;
}

.additional-contact-info p,
.additional-contact-info h3 {
    margin-bottom: 10px;
}


/* Section Styling for hover effect and box presentation */
.info-section {
    flex: 0 0 calc(33.333% - 40px);
    /* Subtract the total gap size divided by the number of items per row */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    /* subtle border */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Set a fixed height or min-height if you want all boxes to be the same height */
    width: calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;

}

.full-width-section {
    flex: 0 0 calc(98% - 40px);
    /* Subtract the total gap size divided by the number of items per row */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    /* subtle border */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    display: block;
    /* This ensures the section takes full width */
}

/* Responsive considerations for smaller screens */
@media (max-width: 768px) {
    .info-section {
        width: 50%;
        /* Each section takes full width on smaller screens */
    }

    /* Each section takes full width on smaller screens */
    .nav-icon {
        width: 40px;
        /* Smaller icon size for small screens */
    }
}

.info-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Modal Styling */

/* Fullscreen Modal Styling */
/* Full-screen modal styling */
/* Full-screen modal background */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* Margin auto for auto-adjusting margins */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    /* For absolute positioning of close button */
    max-width: 600px;
    /* Max width for large screens */
    width: 90%;
    /* Responsive width on small screens */
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #aaa;
    cursor: pointer;
}

.close-button:hover {
    color: #333;
}


/* Tips Carousel Enhancements */
.tips-carousel {
    display: flex;
    justify-content: center;
    /* Center carousel items */
    align-items: center;
    /* Space between items and buttons */
}

.tip-item {
    background: #e8e8e8;
    /* Light background for tip items */
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center align text */
    /* Additional styles to ensure proper spacing and appearance */
    display: block;
    /* or flex, if you want to use Flexbox */
    margin: auto;
    /* Center the box itself if needed */
    padding: 10px;
    /* Or any other value to maintain spacing inside the box */
}


/* Carousel Button Enhancements */
.carousel-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-btn:hover {
    background-color: #0056b3;
}

/* Resource List Enhancements */
.resource-list {
    list-style: none;
    padding: 0;
}

.resource-list li {
    background: #f9f9f9;
    /* Slightly different background for each resource */
    margin-bottom: 10px;
    /* Spacing between resource items */
    padding: 10px;
    border-radius: 4px;
}

.resource-link {
    color: #005A9C;
    text-decoration: none;
    /* Removes underline */
    transition: color 0.3s ease-in-out;
}

.resource-link:hover {
    color: #003d66;
    /* Darkens the color on hover */
}

.site-footer {
    position: relative;
    /* changed from 'absolute' to 'relative' */
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}



@keyframes revealEffect {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* Applied when the quiz container becomes visible */
.quiz-visible {
    display: block;
    /* Make the container visible */
    animation: revealEffect 1s forwards;
    /* No need to set opacity or transform here since it's handled in the animation */
}



.question {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.answers {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #2c3e50;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.3s;
}

input[type="radio"]:checked {
    background-color: #4ca1af;
    border: 2px solid #fff;
}

label:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
}



button:hover {
    background: #3b8d99;
    transform: translateY(-3px);
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 768px) {

    .quiz-container,
    .sidebar {
        width: 90%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

/* Responsive layout */
@media (max-width: 768px) {
    .quiz-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .quiz-container {
        width: 95%;
    }

    .question {
        font-size: 1em;
    }
}

.quiz-container {
    max-width: 600px;
    margin: 6rem auto;
    /* This provides space at the top and bottom */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    /* Changed to relative for stacking context */
    z-index: 2;
    /* Ensures quiz is above other content */
}

.sidebar {
    max-width: 600px;
    margin: 2rem auto;
    /* This provides space at the top and bottom */
    padding: 0px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    /* Changed to relative for stacking context */
    z-index: 2;
    /* Ensures quiz is above other content */
}


.sidebar .tooltip:hover {
    animation: verticalFloat 2s ease-in-out infinite alternate;
}

/* Vertical float animation */
@keyframes verticalFloat {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Hover effect for the image within the tooltip */
.sidebar .tooltip img:hover {
    animation: scaleUp 0.3s forwards;
}

/* Scale-up animation for images */
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        /* Slightly larger on hover */
    }
}


@media screen and (min-width: 1024px) {
    .sidebar {
        margin-top: 2rem;
        max-width: 600px;
        display: flex;
        /* Use flexbox for layout */
        flex-direction: column;
        /* Stack children vertically */
        align-items: center;
        /* Center items horizontally */
        justify-content: center;
        /* Center items vertically */
        margin-top: 1%;
        padding-left: 200px;
        padding-right: 200px;
        text-align: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 500px;
    }

    .quiz-container {
        margin-left: auto;
        /* Align to the right side */
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        /* Aligns the quiz container to center right */
    }
}

@media screen and (max-width: 1025px) {
    .sidebar {
        display: none;
        /* Hide sidebar */
    }

    .quiz-container {
        /* Take full width minus some margin */
        width: calc(100% - 2rem);
        margin: 0 1rem;
        position: relative;
        /* Resets to flow within document */
        top: 0;
        /* Reset top */
        transform: none;
        /* Remove transform */
    }
}

@media (max-width: 768px) {

    .quiz-container,
    .sidebar {
        width: 90%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
        position: relative;
        /* Use relative for smaller screens */
        margin-top: 1rem;
        /* Add margin on top for spacing */
    }

    .sidebar {
        order: -1;
        /* Sidebar above the quiz container */
    }
}

@keyframes hoverAnimation {
    0% {
        transform: translateY(-50%) translateX(0);
    }

    100% {
        transform: translateY(-50%) translateX(-10px);
    }
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.85;
}

#startQuizContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startQuiz {
    font-size: 2em;
    padding: 15px 30px;
    background-color: #4ca1af;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startQuiz:hover {
    background-color: #3b8d99;
}

/* Adjust the quiz wrapper styles */
#quizWrapper {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease;
}

/* Add a little space at the bottom to avoid content overlap */
#startQuiz,
#prev,
#next,
#submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(145deg, #6a5acd, #a55eea);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, box-shadow 0.3s, transform 0.2s;
}

#startQuiz::after,
#prev::after,
#next::after,
#submit::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0.25) 50%, transparent 50%);
    opacity: 0.5;
    transition: transform 0.5s linear;
    transform: translateX(-100%) skewX(-15deg);
}

#startQuiz:hover::after,
#prev:hover::after,
#next:hover::after,
#submit:hover::after {
    transform: translateX(100%) skewX(-15deg);
}

#startQuiz:hover,
#prev:hover,
#next:hover,
#submit:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

#prev,
#next {
    position: absolute;
    bottom: -50px;
    /* Adjust as necessary to position the buttons */
    width: 150px;
    /* Set a fixed width */
    height: 40px;
    /* Set a fixed height */
    line-height: 40px;
    /* Align text vertically */
    padding: 0;
    /* Remove padding if you're setting explicit dimensions */
    border: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(145deg, #6a5acd, #a55eea);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s, transform 0.2s;
    text-align: center;
    /* Ensure text is centered */
    font-size: 12px;
    /* Set a smaller font size */
}

#prev {
    left: 0;
    /* Position the previous button to the left corner */
}

#next {
    right: 0;
    /* Position the next button to the right corner */
}

#prev .button-text,
#next .button-text {
    display: block;
    font-size: 0.8em;
    /* Smaller text size */
}

/* ARTICLES IN INFO PAGE */

#article-summary {
    background-color: #302b63;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#article-summary:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.summary-container {
    display: flex;
    justify-content: space-around;
    /* This will space out the child elements evenly */
    align-items: flex-start;
    /* Aligns items to the top */
    margin: 1rem auto;
    /* Adds margin at the top and bottom */
    padding: 0 1rem;
    /* Adds some padding on the sides */
}

.article-summary {
    flex: 1;
    /* Each summary will take equal width */
    margin: 0 1rem;
    /* Adds margin between each summary box */
    padding: 1rem;
    /* Adds padding inside each summary box */
    text-align: left;
    /* Aligns the text to the left */
    border-radius: 10px;
    /* Optional: Adds rounded corners */
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adds a subtle shadow */
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .summary-container {
        flex-direction: column;
        /* Stacks the summaries vertically on smaller screens */
    }

    .article-summary {
        margin-bottom: 1rem;
        /* Adds margin at the bottom of each summary */
    }
}

.research-link {
    display: inline-block;
    background-color: #4ca1af;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.research-link:hover {
    background-color: #3b8d99;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#article-summary {
    animation: fadeIn 1s ease-out forwards;
}

#latest-research,
#data-security {
    position: relative;
    top: -60%;
    /* Adjust the value as needed to move them up */
}

/* Adjust the position of the third section to move it down */
#privacycon-insights {
    position: relative;
    top: 65%;
    /* Adjust the value as needed to move it down */
}

.accordion {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.accordion-item {
    border-bottom: 1px solid #dddddd;
}

.accordion-button {
    background-color: #eeeeee;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    border-radius: 5px;
}

.accordion-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-section {
    top:

}

/* This is for responsive design, adjust the breakpoint as necessary */
@media (max-width: 768px) {
    .site-main {
        flex-direction: column;
        /* Stack sections on top of each other */
    }

    .content-section {
        width: 100%;
        /* Full width sections */
    }
}

.accordion-button:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

.accordion-button:hover,
.accordion-button.accordion-button-active {
    background-color: #e1e1e1;
}

.accordion-button::after {
    content: '+';
    float: right;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.accordion-button.accordion-button-active::after {
    transform: rotate(45deg);
}


.accordion-button-active,
.accordion-button:hover {
    background-color: #ccc;
}

.accordion-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

@keyframes reveal {
    0% {
        opacity: 0;
        max-height: 0;
    }

    100% {
        opacity: 1;
        max-height: 500px;
        /* Adjust as needed for content */
    }
}

.content-section {
    background-color: white;
    /* White background */
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    /* Consistent width */
    margin-bottom: 20px;
    /* Space between sections */
    /* Rest of your styles */
}

.site-main-hub {
    display: flex;
    flex-direction: row;
    /* Align items horizontally */
    flex-wrap: wrap;
    justify-content: center;
    /* Center items horizontally */
    align-items: flex-start;
    /* Align items to the top */
    gap: 20px;
    /* Space between sections */
    padding: 5rem;
}

/* This will ensure the sections stack on smaller screens */
@media (max-width: 768px) {
    .content-section {
        max-width: 100%;
        /* Full width on small screens */
        margin: 1rem 0;
        /* Only vertical margin */
    }
}

.interview-section {
    padding: 40px;
    background: #f2f4f8;
}

.interview-dialogue {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.message {
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: 80%;
    animation: fadeIn 0.5s ease-out forwards;
}

.from-greg {
    align-self: flex-start;
    background-color: #dbebfa;
}

.from-mark {
    align-self: flex-end;
    background-color: #c8e6c9;
}

.interview-section {
    background-color: #302b63;
    /* Match the dark blue shade of the main page */
    color: white;
    border-radius: 8px;
    /* For rounded corners */
    margin: 20px auto;
    /* Center the section */
    max-width: 600px;
    /* To maintain consistency with the size */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    /* To add depth */
}
